---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Bhagyashree, or Bee as she prefers, is a masters student at the <a href="https://www.tum.de/nc/en/homepage/">Technical University of Munich</a> studying Data Engineering and Analytics. She is a graduate of the <a href="https://en.wikipedia.org/wiki/Indian_Institute_of_Technology_Guwahati">Indian Institute of Technology, Guwahati</a> in Mathematics and Computing. She is also a strong advocate of using free and open source software and has been involved with open source communities since 2015. She is also actively involved with improving diversity and inclusion in open source. </p>
      <p> In her free time, she is daydreaming about food or haute couture.</p>

	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
	    {% endif %}
    </div>
  </div>
</div>
