---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>
        <h2>About Me</h2>
        <p>
            I am a former Mozilla outreachy intern and recently completed my Bachelors of Technology with specialization in computer science and engineering with a semester exchange at the Indian Institute of Technology, Roorkee under the supervision of  R Balasubramanian in August 2018. I work at the junction of software engineering and AI research solving problems which lie in the intersection of <b>Computer Vision, Machine Learning, and Speech & Music Processing.</b>
        </p>
      </p>
    </div>
  </div>
</div>
